html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url('greatwall_csp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Newsreader';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container {
    width: auto;
    max-width: 900px;
    padding: 30px 30px;
    background-color: rgba(255, 255, 255, 0.5);
}

.quote-text {
    font-size: 2.75rem;
    font-weight: 400;
}

/* if the quote text is longer */
.long-quote {
    font-size: 2rem;
}

.quote-author {
    margin-top: 25px;
    font-size: 1.75rem;
    font-weight: 300;
    font-style: italic;
}

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    color: #333;
    background: #fff;
    outline: none;
    padding: 0.5rem 1.8rem;
}

button:hover {
    color: #fff;
    background: #333;
}

.twitter-button:hover {
    color: #38a1f3;
}

.fa-twitter {
    font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
    .quote-container {
        margin: auto 10px;
    }

    .quote-text {
        font-size: 2rem;
    }
}